## Ignore Visual Studio / .NET temporary and build outputs
[Bb]in/
[Oo]bj/
.vs/
*.user
*.userosscache
*.sln.docstates

## User-specific files
*.rsuser
*.suo
*.user
*.userhost
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/

## ASP.NET
appsettings.Development.json

## OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
